
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button #tab1Button tab="tab1" href="/tabs/tab1">
      <ion-icon name="bed-outline"></ion-icon>
      <ion-label>Log Sleep Hours</ion-label>
    </ion-tab-button>

    <ion-tab-button #tab2Button tab="tab2" href="/tabs/tab2">
      <ion-icon name="sunny-outline"></ion-icon>
      <ion-label>Log Daytime Sleepiness</ion-label>
    </ion-tab-button>

    <ion-tab-button #tab3Button tab="tab3" href="/tabs/tab3">
      <ion-icon name="file-tray-full-outline"></ion-icon>
      <ion-label>View Logs</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
